{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex flex-row justify-content-around">
        {% for course in instructor_courses %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ course.code }}</h5>
                    <p class="card-text">{{ course.title }}</p>
                    <a href="{% url 'students' course.courseID %}" class="btn btn-primary">View Data</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
